<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8" />
	<title>960 Grid System &mdash; Demo</title>
	<link rel="stylesheet" href="css/960/reset.css" />
	<link rel="stylesheet" href="css/960/text.css" />
	<link rel="stylesheet" href="css/960/960.css" />
	<link rel="stylesheet" href="css/workless/buttons.css" />
	<link rel="stylesheet" href="css/workless/forms.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<header>
		<div class="container_12 logo">
			<div class="grid_9 main">
				Fussballverein
			</div>
			<div class="grid_3 side">
				<!-- Reserved for future use --> &nbsp;
			</div>
			<div class="clear"></div>
			<nav id="primary">
				<ul class="menu">				
					<li><a href="#">&Uuml;ber uns</a></li>
					<li><a href="#">Training</a></li>
					<li><a href="#">Jugendarbeit</a></li>
					<li><a href="#">Mannschaften</a></li>
					<li><a href="#">Spielplan</a></li>
				</ul>
			</nav>
		</div>
	</header>
	


	<div class="container_12">		
		<div class="clear space20"></div>

		<div class="grid_9 article featured">
			<h1>Featured</h1>
			<p> Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
		</div>		
		<div class="grid_3 loginform">
			<form action="/" method="post" id="login">
				<h4>Für MItglieder</h4>
				<input type="text" name="user" class="onehundred green" placeholder="Benutzername"><br>
				<input type="password" name="pass" class="onehundred green" placeholder="Kennwort"><br>
				<button type="submit" class="button green medium rounded">Anmelden</button><br />
				<a href="#" class="small">Kennwort vergessen?</a>
			</form>
		</div>

		
		<div class="clear space20"></div>
		
		<div class="grid_6 article tier2">
			<h1>tier 2 Article</h1>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
		</div>
		<div class="grid_6 article tier2">
			<h1> tier 2 Article</h1>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
		</div>
		
		<div class="clear space20"></div>
		
		<div class="grid_4 article tier3">
			<h1> tier 3 Article</h1>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
		</div>
		<div class="grid_4 article tier3">
			<h1> tier 3 Article</h1>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
		</div>
		<div class="grid_4 article tier3">
			<h1> tier 3 Article</h1>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
		</div>		

	</div>
	
	<footer>
		<div class="container_12">
			<div class="grid_2">
				<b>Navigation</b><br />
				<a href="#">&Uuml;ber uns</a><br />
				<a href="#">Training</a><br />
				<a href="#">Jugendarbeit</a><br />
				<a href="#">Mannschaften</a><br />
				<a href="#">Spielplan</a><br />
			</div>
			<div class="grid_2">
				<b>Folgen Sie uns</b><br />
				<a href="#">Twitter</a><br />
				<a href="#">Facebook</a><br />
				<a href="#">Google+</a><br />
				<a href="#">Flickr</a><br />
			</div>
			<div class="grid_2">
				&nbsp;
			</div>
			<div class="grid_2">
				&nbsp;
			</div>
			<div class="grid_2">
				&nbsp;
			</div>			
			<div class="grid_2">
				<b>Kontakt</b><br />
				<a href="#">Impressum</a><br />
				<a href="#">Kontakt</a><br />
				<a href="#">Presse</a><br />
			</div>
			
		</div>
	</footer>

</body>
</html>